.Navbar {
    border: 1px solid white;
    background-color: #1CB5B9;
}

.Navbar ul{
    list-style-type: none;
    padding: 0;
}

.Navbar li {
    display: inline-block;
    margin: 0 5px;
}

.Navbar a{
    padding: 10px;
    color: #FFFFFF
}